@font-face {
    font-family: 'Nico Moji';
    src: url(../fonts/NicoMoji-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Arodora Pro';
    src: url(../fonts/ArodoraPro-Light.otf);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url(../fonts/NextArtBold.otf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Arodora Pro';
    src: url(../fonts/NextArtRegular.otf);
    font-weight: 4w00;
    font-display: swap;
}
