.header {
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    overflow: hidden;

    a {
        text-decoration: none;
    }



    .header__container {
        padding: 40px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {

            display: flex;
            flex: 3;


            .header__logo-link {
                display: flex;
                align-items: center;

                &:hover .header__logo-span {
                    color: #E2A300;
                }

                &:hover .header__logo-span::after {
                    width: 100%;
                }

                .header__logo-img {
                    width: 54.17px;
                    height: 34px;
                }

                .header__logo-span {
                    font-family: 'Nico Moji';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 18px;
                    color: #FFFFFF;
                    margin-left: 10px;
                    transition: 0.3s;
                    position: relative;
                    display: block;
                    width: max-content;
                    transition: color 0.3s;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
                        left: 0;
                        bottom: -3px;
                        transition: width 0.3s;
                    }


                }
            }
        }

        .dropdown__btn {
            width: 22px;
            height: 17px;
            cursor: pointer;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            background: none;
            display: none;
            transition: all 0.5s;

            .dropdown__line {
                display: block;
                width: 100%;
                height: 3px;
                background-color: #fff;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    left: 0;
                    top: -7px;
                }


                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    left: 0;
                    top: 7px;
                }
            }
        }

        .header__nav {
            display: flex;
            flex: 9;

            .header__list {
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;

                .header__item {

                    .header__link {
                        font-family: 'Arodora Pro';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 21px;
                        color: #E4E4E4;
                        position: relative;
                        transition: 0.5s;


                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -3px;
                            width: 0;
                            height: 1px;
                            display: block;
                            background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
                            transition: 0.5s;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }

                    }
                }
            }
        }
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .intro__text {
            width: 41.25%;

            .intro__span {
                font-family: 'NEXT ART';
                font-style: normal;
                font-weight: 600;
                font-size: 38px;
                line-height: 54px;
                color: #E4E4E4;
                display: flex;
                align-items: center;

                img {
                    width: 45px;
                    margin-left: 5px;
                }
            }

            .intro__title {
                font-family: 'NEXT ART';
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 82px;
                color: #E4E4E4;
                margin-top: 27px;
                margin-bottom: 45px;
            }

            .intro__subtitle {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;
                color: #E4E4E4;
                margin: 0 0 41px 0;
            }

            .intro__link {
                font-family: 'NEXT ART';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                color: #000000;
                padding: 14px 41px;
                background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
                border-radius: 6px;
                transition: box-shadow 0.3s;

                &:hover {
                    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
                }
            }
        }

        .intro__img {
            width: 58.75%;
            display: flex;
            position: relative;

            img {
                width: 100%;
            }

            .intro__text-img {
                width: 42px;
                height: 42px;
                position: absolute;
                top: 190px;
                left: 150px;
            }
        }

    }



}

@media only screen and (max-width: $tablet) {
    .header {
        .header__container {
            .header__nav {
                flex: 6.5;
            }
        }

        .intro {
            .intro__text {
                .intro__span {
                    font-size: 30px;

                    img {
                        width: 38px;
                    }
                }

                .intro__title {
                    font-size: 42px;
                    margin-top: 0;
                    margin-bottom: 35px;
                    line-height: 65px;
                }

                .intro__link {
                    padding: 10px 37px;
                }
            }

            .intro__img {
                .intro__text-img {
                    top: 122px;
                    left: 95px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}


@media only screen and (max-width: $mobile) {



    .header {
        position: relative;

        .header__container {
            .dropdown__btn {
                display: block;
                z-index: 100000;
            }


            


            .dropdown__btn.opened .dropdown__line {
                transform: translateX(-50px);
                background: transparent;
                box-shadow: none;

            }

            .dropdown__btn.opened .dropdown__line::before {
                transform: rotate(38deg) translate(44px, -25px);
                left: 0px;
            }

            .dropdown__btn.opened .dropdown__line::after {
                transform: rotate(-38deg) translate(44px, 26px);
                left: 0px;
            }

            


            .header__nav {
                background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
                position: absolute;
                width: 255px;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 1000;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(100%);
                transition: all 0.3s;

                .header__list {
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .header__item {
                        margin-bottom: 25px;
                    }
                }
            }

            .dropdown__btn.opened~.header__nav {

                transform: translateX(0);
            }
        }

        .intro {
            flex-direction: column;
            padding-bottom: 45px;

            .intro__text{
                width: 100%;
                text-align: left;


                .intro__title  {
                    font-size: 37px;
                }

                .intro__link {
                    font-size: 16px;
                }
            }
            .intro__img {
                display: none;
            }
        }
    }
}